altgraph==0.17.4
et-xmlfile==1.1.0
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pillow==10.3.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
six==1.16.0
tzdata==2024.1
altgraph==0.17.4
cramjam==2.8.3
et-xmlfile==1.1.0
macholib==1.16.3
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pillow==10.3.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
python-dateutil==2.9.0.post0
python-snappy==0.7.1
pytz==2024.1
pywin32-ctypes==0.2.2
setuptools==69.5.1
six==1.16.0
tzdata==2024.1
